.notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ff8c002a; /* Orange background */
    color: #fff;
    text-align: center;
  }
  
  .notfound-card {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
  }
  
  .notfound-title {
    font-size: 2rem;
    color: #ff8c00;
    margin-bottom: 10px;
  }
  
  .notfound-text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .icon-warning {
    color: #ff8c00;
    font-size: 3rem;
  }
  
  .icon-bed {
    font-size: 2rem;
    color: #ff8c00;
  }
  
  .home-button {
    background: #ff8c00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  
  .home-button:hover {
    background: #e07b00;
  }
  
  .icon-home {
    font-size: 1.2rem;
  }
  